{% macro item(taxon) %}
    {% import _self as macros %}

    {% if taxon.children|length > 0 %}
        <div class="ui dropdown item">
            <span class="text">{{ taxon.name }}</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                {% for childTaxon in taxon.children %}
                    {{ macros.item(childTaxon) }}
                {% endfor %}
            </div>
        </div>
    {% elseif taxon.slug == 'glavnoie-menu/news' %}
        <a href="{{ path('sylius_shop_news_index') }}" class="item">{{ taxon.name }}</a>        
        
    {% elseif taxon.slug == 'glavnoie-menu/glavnaia' %}
        <a href="{{ path('sylius_shop_homepage') }}" class="item">{{ taxon.name }}</a>        
        
    {% elseif taxon.slug == 'glavnoie-menu/kontakty' %}
        <a href="{{ path('sylius_shop_static_content_slug_show', {'slug': 'contacs'}) }}" class="item">{{ taxon.name }}</a>        
        
    {% else %}    
        <a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug}) }}" class="item">{{ taxon.name }}</a>
    {% endif %}
{% endmacro %}

{% import _self as macros %}

{% if taxons|length > 0 %}
<div class="ui large stackable blue menu">
    {% for taxon in taxons %}
        {{ macros.item(taxon) }}
    {% endfor %}
</div>
{% endif %}
